modules = ["php-8.2", "web", "nodejs-20"]
run = "php -S 0.0.0.0:5000 -t public_html"

[nix]
channel = "stable-24_05"
packages = ["run"]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "php -S 0.0.0.0:5000 -t public_html"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43156435
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t public_html"
